<center>
Checkout Page!
<br>
Welcome <% current_user.name %>
</center>

<%= form_tag "/carted_products", method: :post do%>

    <% @carted_products.each do |carted_product| %>
      <h2><%= carted_product.product.name %></h2>
      <h6><%= carted_product.quantity %></h6>
    <center>
    <div>Item name: <%= carted_product.product.name %></div>
    <%= hidden_field_tag :carted_product_id, carted_product.id %>
    <div><%= image_tag carted_product.product.images.first.url %></div>
    <div><%= label_tag :quantity, "Quantity :" %>
         <%= text_field_tag :quantity, carted_product.quantity %>
         <%= submit_tag "Update quantity!" %>
    <%= link_to "remove", "/carted_products/delete/#{carted_product.id}" %>
    </div>
    <div>Item price: <%= cartedproduct.product.price %></div>
    <br>
    </center>
    <% end %>

<% end %>

  <center>
    <%= form_tag "/orders", method: :post do %>
    <%= submit_tag "Buy Now" %>
  <% end %>
  </center>
