<center>
Checkout Page!
<br>
Welcome
</center>

<%= form_tag "/checkout", method: :patch do%>

    <% @carted_products.each do |cartedproduct| %>
    <div>Item name: <%= cartedproduct.product.name %></div>
    <%= hidden_field_tag :carted_product_id, cartedproduct.product_id %>
    <div><%= label_tag :quantity, "Quantity :" %>
         <%= text_field_tag :quantity, cartedproduct.quantity %>
         <%= submit_tag "Update quantity!" %>
    </div>
    <div>Item price: <%= cartedproduct.product.price %></div>
    <% end %>

<% end %>

  <center>
    <%= form_tag "/orders", method: :post do %>
    <%= submit_tag "Buy Now" %>
  <% end %>
  </center>
