<h class="title"><%= @page_title %></h>


<p>we are better than amazon! less items, higher prices, extra fee shipping!</p>

<% @products.each do |product| %>

  <div><a href="/<%= product.name.downcase %>"><%= product.name %></a></div>
  <div>$<%= product.price %></div>
  <div><%= product.description %></div>
  <%= image_tag product.image %>

<% end %>
