
<h1>Add new items here:</h1>
<%= form_tag "/products", method: :post do%>

<div>
<%= label_tag :name, "Item Name:" %>
<%= text_field_tag :name %>
</div>

<div>
<%= label_tag :price, "Item Price:" %>
<%= text_field_tag :price %>
</div>

<div>
<%= label_tag :image, "Image:" %>
<%= text_field_tag :image %>
</div>

<div>
<%= label_tag :description, "Description:" %>
<%= text_field_tag :description %>
</div>

<div>
<%= label_tag :item_class, "Item Class" %>
<%= text_field_tag :item_class %>
</div>

<div>
<%= label_tag :supplier_id, "Supplier" %>
<%= text_field_tag :supplier_id %>
</div>

<div>
<%= submit_tag "Sell me!" %>
</div>

<% end %>
