<h1><%= @product.description %></h1>

<% if @product.sale_message == "Discount Item!" %>
  <h1 class="color1">Discount Item!</h1>
  <% else %>
  <h1 class="color2">Sale Item!</h1>
  <% end %>

<!-- 
<h1 class="sale_message"><%= @product.sale_message %></h1> -->

<h3>Price: <%= @product.price %></h3>
<h3>Taxes: <%= @product.tax.round(2) %></h3>
<h3>Total: <%= @product.total %></h3>
<h3>In stock: <%= @product.instock %></h3>
<h3>Supplier: <%= @product.supplier.name %></h3>
<h3>Supplier: <%= "#{@product.supplier.name}" %></h3>

<div class="name"><a href="/<%= @product.name.downcase %>"><%= @product.name %></a></div>  

<% @product.images.each do |image| %>

<%= image_tag image.url, class: "img-class" %>
<% end %>

<div>
<%= link_to "Edit Product", "/products/#{@product.id}/edit" %>
</div>


<div>
<%= link_to "Delete Product", "/products/#{@product.id}", method: :delete %>
</div>

<h6> Added: <%= @product.pretty_time %></h6>

